
.voice-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 20px;
  gap: 2px;

  .voice-button-item {
    position: relative;
    pointer-events: none;
    background: #52467b;
    width: 1px;
    gap: 2px;
    height: 100%;
    animation: sound 0ms 0ms linear infinite alternate;
    flex: 1;
  }
}


@keyframes sound {
  0% {
    opacity: .35;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
